@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind apply

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 45%;
  margin-right: -50%;
}

.react-datepicker {
  @apply z-50 border-none shadow-lg px-2 py-2 w-[22rem] h-[22rem] !important;
}

.react-datepicker-popper {
  @apply -ml-2 z-50;
}

.react-datepicker__header {
  @apply border-none bg-white w-full !important;
}

.react-datepicker__day-names {
  @apply font-semibold text-lg text-primary px-2 flex justify-around !important;
}

.react-datepicker__day-name {
  @apply text-calendar-primary !important;
}

.react-datepicker__day--outside-month {
  @apply opacity-0 !important;
}

.react-datepicker__week {
  @apply flex justify-around mb-[0.5rem] font-bold flex flex-row items-center justify-center !important;
}

.react-datepicker__day {
  @apply text-[#666666] w-[27px] h-8 flex items-center justify-center text-sm !important;
}

.react-datepicker__day:hover {
  @apply bg-primary text-white transition-all w-8 h-8 m-0 p-0 flex items-center justify-center rounded-full !important;
}

.react-datepicker__day--selected {
  @apply bg-calendar-day text-white rounded-full w-8 h-8 m-0 p-0 flex items-center justify-center !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: inherit;
  color: inherit;
}

.react-datepicker__day--keyboard-selected {
  @apply bg-transparent text-[#666666] rounded-full w-8 h-8 m-0 p-0 flex items-center justify-center !important;
}

.react-datepicker__day--disabled {
  @apply text-gray.4 opacity-70 cursor-not-allowed !important;
}

.react-datepicker__month-container {
  @apply float-none !important;
}
