@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='checkbox'] {
    position: relative;
    cursor: pointer;
  }

  input[type='checkbox']:before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    border-radius: 8px;
    border: 2px solid #76adbc;
    border-radius: 3px;
    background-color: #f9f4f4;
  }

  input[type='checkbox']:checked:before {
    content: '';
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    border-radius: 8px;
    border: 2px solid #76adbc;
    border-radius: 3px;
    background-color: #76adbc;
  }

  input[type='checkbox']:checked:after {
    content: '';
    display: block;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 4px;
    left: 8px;
  }
}
